<div class="container"  data-ng-controller= 'NewsletterForm' >
    <h2>Subscribe to Achieve3000 Newsletter</h2>

    <form data-ng-submit="submitForm(user,newsletterForm)" 
    class="form-horizontal newsletter-form well" name="newsletterForm" role="form">
        <div class="form-group row">
            <label for="firstname" class="col-sm-2 control-label">
                First Name:
            </label>
            <div class="col-sm-5">
                <input id="firstname" type="text" required class="form-control" ng-model="user.firstname" placeholder="Please enter your firstname" />
            </div>
        </div>
        <div class="form-group row">
            <label for="lastname" class="col-sm-2 control-label">
                Last Name:
            </label>
            <div class="col-sm-5">
                <input id="lastname" type="text" required class="form-control" ng-model="user.lastname" placeholder="Please enter your lastname" />
            </div>
        </div>
        <div class="form-group row">
            <label for="emailaddress" class="col-sm-2 control-label">
                Email:
            </label>
            <div class="col-sm-5">
                <input id="emailaddress" type="email" required class="form-control" ng-model="user.emailaddress" placeholder="Please enter your email" />
            </div>
        </div>
        <button type="submit"  id="submit-form"  class="btn btn-primary">Submit</button>

    </form>
  



</div>