<div class="modal-header">
  <h3>Error</h3>
</div>
<div class="modal-body alert alert-danger">
  We're sorry but something went wrong. Please try again
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>